<h1>List of all todos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
    <% @todos.each do |todo| %>
  <tr>
    <td><%=todo.name%></td>
    <td><%=todo.description%></td>
    <td><%= link_to 'Show',todo_path(todo) %> </td>
    <td><%= link_to 'Update',edit_todo_path(todo) %> </td>
  </tr>
  
   <% end %>
</table>